<h2>Here is the Book of the Month</h2>
        <h3><%=@book.title%></h3>
        <br></br>
        <h3><%=@book.author%></h3>
        <br></br>
        <h3><%=@book.book_month%></h3>
        <br></br>
        <h3><%=@book.genre%></h3>
        <br></br>
        <h3><%=@book.description%></h3>
        <br>
    </tr>
    <% if @book.user == current_user %>
    <a href="/books/<%=@book.id%>/edit">Edit</a>
    <form method="POST" action="/books/<%=@book.id%>">
    <input type="hidden" name="_method" value="Delete" />
    <input type="submit" value="Delete Book" />
    </form>
    <%end%>
    <a class="button" href="/books">Books</a>
    <a class="button" href="/logout">Log Out</a>