<h2>Here is the Book of the Month</h2>
    <tr>
        <td><%=@book.title%></td>
        <br></br>
        <td><%=@book.author%></td>
        <br></br>
        <td><%=@book.book_month%></td>
        <br></br>
        <td><%=@book.genre%></td>
        <br></br>
        <td><%=@book.description%></td>
        <br>
    </tr>
    <br></br>
    <a href="/books/<%=@book.id%>/edit">Edit</a>
    <form method="POST" action="/books/<%=@book.id%>">
    <input type="hidden" name="_method" value="Delete">
    <input type="submit" value="Delete Book" >
    </form>
    <br>
    <a class="button" href="/books">Books</a>
    <a class="button" href="/logout">Log Out</a>